*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-size: 16pt;
    font-family: Consolas,'Courier New', Courier, monospace;
}
body{
    padding: 4% 7%;
    background: url(../img/background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
nav{
    width: 100%;
    height: 15%;
    float: left;
}
nav div{
    width: 100%;
    border-bottom: 4px solid rgb(156, 108, 20);
    padding-top:20px;
    padding-bottom: 30px;
}
nav div h2{
    float:left;
}
nav div ul{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 3%;
}
nav div ul a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
nav div ul a:hover{
    color:  rgb(156, 108, 20);
    font-weight: bold;
}
main{
    width: 100%;
    height: 40%;
    float: left;
    background: url(../img/img_01.png);
    text-align: center;
}
main h1{
    font-size: 55px;
    text-align: center;
    padding-top: 4%;
}
main input{
    border-radius: 25px;
    margin-top: 30px;
    padding: 2%;
    width: 38%;
    height: 18%;
    border: none;
}
footer{
    width: 100%;
    height: 45%;
    float: left;
    display: flex;
}
footer div{
    width: 25%;
}
footer div ul{
    text-align: center;
    line-height: 1;
    margin: 20px;
}
footer div ul a{
    text-decoration: none;
    background-color: rgb(225, 221, 213);
    border-radius: 15px;
    height: 40px;
    font-size: 23px;
    color: gray;
    padding-top: 8px;
    display: flex;
    flex-direction: column; /* Xếp các ô theo cột */
    align-items: center; /* Căn giữa các ô theo chiều ngang */
}
footer div ul a:hover{
    background: rgb(216, 169, 82);
    color: white;
}
.container img{
    width: 90%;
}
.khung{
    display: flex;
}
.khung button{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 90px;
    background-color: rgb(231, 190, 115);
    border: none;
    border-radius: 10px;
    color: white;
}